<form [formGroup]="form">
  <span *ngIf="Name.invalid && (Name.dirty || Name.touched)" style="color: tomato;">Title is a required field</span>
  <input formControlName="Name" type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Title">
  <span *ngIf="Description.invalid && (Description.dirty || Description.touched)" style="color: tomato;">Description is a required field</span>
  <input formControlName="Description" type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Description">

  <div class="row flex-row-reverse">
    <div class="col-6">
      <div class="row flex-row-reverse" *ngIf="uploading">
        <!-- <mdb-spinner class="mr-5"></mdb-spinner> -->
        <p class="mr-5">loading...</p>
      </div>
      <div class="row flex-row-reverse pt-1" *ngIf="readyToSave">
        <div class="col">
          <button
        (click)="Save()"
        type="button" mdbBtn class="btn btn-sm waves-light"
        mdbWavesEffect>
        <i style="color:rgb(3, 109, 38)" class="fas fa-check"></i>
        </button>
          <button
        (click)="DontSave()"
        type="button" mdbBtn class="btn btn-sm waves-light"
        mdbWavesEffect>
        <i style="color: tomato;" class="fas fa-times"></i>
        </button>

        </div>

      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
          <!-- <label for="file">Choose File</label> -->
          <button class="btn btn-sm z-depth-1" (click)="fileInput.click()" mdbTooltip="Upload Image" placement="top">
            <i class="fas fa-cloud-upload-alt"></i>
            <input #fileInput formControlName="file" type="file"
            id="file"
            class="form-control-file"
            style="display:none;"
            (change)="handleFileInput($event.target.files)">
          </button>
      </div>
    </div>
  </div>
</form>



