<nav style="padding-top: 5em; position: absolute;">
  <ul>
    <li>
      <i class="fas fa-home fa-2x" style="height: 3em; color: whitesmoke; padding-top: 1em;"></i>
    </li>
    <li mdbTooltip="{{Zoom.title}}" placement="right">
      <i class="fas fa-video fa-2x" style="height: 3em; color: whitesmoke; padding-top: 1em;"></i>
    </li>
    <li>
      <i class="fas fa-shopping-bag fa-2x" style="height: 3em; color: whitesmoke; padding-top: 1em;"></i>
    </li>
    <li>
      <i class="far fa-address-card fa-2x" style="height: 3em; color: whitesmoke; padding-top: 1em;"></i>
    </li>
    <li>
      <i class="far fa-address-book fa-2x" style="height: 3em; color: whitesmoke; padding-top: 1em;"></i>
    </li>
  </ul>
</nav>

<!-- <section>
  <h1>3d rotating navigation</h1>
  <h2>+ CSS Icons</h2>
</section> -->
