<app-top-nav-admin [itemsInCart]="items"></app-top-nav-admin>
<div class="container" style="margin-top: 1em;">
  <h4 style="text-align: center;"><b>Shop Products</b></h4>
  <div class="md-form">
    <input type="search" [(ngModel)]="searchText" placeholder="Search text">
  </div>
  <br>
  <div class="row" style="justify-content: center;">
    <mdb-card *ngFor="let product of products | filter: searchText | slice:GetFirstElement():GetLastElement()"
      class="z-depth-5 m-2 product">
      <div class=" card-img-wrapper">
        <img class="card-img-top" [src]="product.imgUrl" style="max-height: 130px; overflow: hidden;">
        <ul class="list-inline text-center member-icons animate">
          <li class="list-inline-item">
            <button (click)="AddToCart(product)" class="btn btn-sm z-depth-5" style="background-color: whitesmoke;">
              <i class="fa fa-shopping-cart fa-2x fa-fw" aria-hidden="true"></i>
            </button>
          </li>
        </ul>
      </div>

      <mdb-card-body>
        <p style="zoom: 0.8;" data-bs-toggle="tooltip" data-bs-placement="top" title="{{product.description}}">
          {{ (product.description.length>25)? (product.description | slice:0:25)+'...':(product.description) }}
        </p>
        <b>P {{product.price}}</b>
        <div class="row">
          <div class="col-6" style="zoom: 0.7;">
            Sold:{{product.sold}}
          </div>
          <div class="col-6" style="zoom: 0.7;">
            <div class="row flex-row-reverse">
              In Stock:{{product.inStock}}
            </div>
          </div>
        </div>
      </mdb-card-body>
    </mdb-card>
    <div class="row" style="height: 150px;">
      <h1 *ngIf="!(products.length > 0)" style="text-align: center;">No Products in shop!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 ml-auto mr-auto">
    </div>
  </div>
  <div class="table-responsive">
    <div class="row">
      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
        <div class="float-right">
          <app-app-pagination [totalRecords]="products?.length" [recordsPerPage]="pageSize"
            (onPageChange)="displayActivePage($event)"></app-app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<div mdbModal #GenericModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="CloseModals()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Upload Prescription</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <button class="btn btn-sm z-depth-1" (click)="fileInput.click()" mdbTooltip="Upload Image" placement="top">
            <i class="fas fa-cloud-upload-alt"></i>
            <input #fileInput formControlName="file" type="file" id="file" class="form-control-file"
              style="display:none;" (change)="handleFileInput($event.target.files)">
          </button>
        </div>
      </div>
    </div>
  </div>
