<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark navHeight fixed-top z-depth-0" class="navCss"  [containerInside]="false">
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/">
      <img height="{{logoHeight}}" width="{{logoWidth}}" src="{{logoSrc}}" class="img-fluid flex-center">
      <span class="sr-only">(current)</span>
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto navbarCollapsibleContent">
      <li class="nav-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
        <div class="btn-group mx-4" mdbDropdown>
          <a classInside="dropdown-toggle" mdbDropdownToggle class="waves-effect" mdbWavesEffect style="color: black;">
            COMPANY <i class="fas fa-caret-down"></i>
          </a>
          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" routerLink="/arc-th1-about-us">About Us</a>
            <a class="dropdown-item" href="#">Management</a>
            <a class="dropdown-item" href="#">Philosophy</a>
            <a class="dropdown-item" href="#">Clients</a>
            <a class="dropdown-item" href="#">Regional Architect</a>
          </div>
        </div>
      </li>
      <li class="nav-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
        <div class="btn-group mx-4" mdbDropdown>
          <a classInside="dropdown-toggle" mdbDropdownToggle class="waves-effect" mdbWavesEffect style="color: black;">
            SERVICES <i class="fas fa-caret-down"></i>
          </a>
          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" routerLink="/about-us">Architectural Services</a>
            <a class="dropdown-item" href="#">Interior Fit-Out</a>
            <a class="dropdown-item" href="#">Pre-Project Consultation</a>
            <a class="dropdown-item" href="#">Change Management</a>
          </div>
        </div>
      </li>
      <li class="nav-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
        <div class="btn-group mx-4" mdbDropdown>
          <a classInside="dropdown-toggle" mdbDropdownToggle class="waves-effect" mdbWavesEffect style="color: black;">
            PROJECTS <i class="fas fa-caret-down"></i>
          </a>
          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" routerLink="/about-us">Office</a>
            <a class="dropdown-item" href="#">Facility</a>
            <a class="dropdown-item" href="#">Retail/Showroom</a>
            <a class="dropdown-item" href="#">Hospitality</a>
            <a class="dropdown-item" href="#">Others</a>
          </div>
        </div>
      </li>
      <li class="nav-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
        <div class="btn-group mx-4" mdbDropdown>
          <a classInside="dropdown-toggle" mdbDropdownToggle class="waves-effect" mdbWavesEffect style="color: black;">
            CONTACT <i class="fas fa-caret-down"></i>
          </a>
          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" routerLink="/arc-th1-contact-us">Contact Us</a>
            <a class="dropdown-item" (click)="goToLink(dispensayLink+Zoom.title+'/'+Zoom.meetingId+'/'+Zoom.meetingPassword)">{{Zoom.title}}</a>
          </div>
        </div>
      </li>
      <li class="nav-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
      <div class="btn-group mx-4" mdbDropdown>
        <a classInside="dropdown-toggle" mdbDropdownToggle class="waves-effect" mdbWavesEffect style="color: black;">
        SHOP <i class="fas fa-caret-down"></i>
        </a>
        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" routerLink="/arc-th1-shop">Shop Products</a>
          <a class="dropdown-item" routerLink="/arc-th1-cart">Your Cart</a>
          <a class="nav-item" *ngIf="  auth.isAuthenticated$ | async" class="dropdown-item" routerLink="/arc-th1-order">Your Orders</a>
        </div>
      </div>
    </li>
      <li *ngIf="user?.user_metadata?.role =='Administrator' && auth.isAuthenticated$ | async" class="nav-item" [routerLinkActiveOptions]="{exact:true}"
      routerLinkActive="active">
      <div class="btn-group mx-4" mdbDropdown>
        <a classInside="dropdown-toggle" mdbDropdownToggle class="waves-effect" mdbWavesEffect style="color: black;"
        routerLink="/admin-landing">
          PORTAL
        </a>
        <div class="dropdown-menu dropdown-primary">
        </div>
      </div>
    </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons navbarCollapsibleContent">
      <li class="nav-item">
        <a class="nav-link" style="color: black;" routerLink="/arc-th1-cart">
          <i class="fa fa-shopping-cart" aria-hidden="true">
          <span class="badge badge-error">{{itemsInCart}}</span>
          </i>
        </a>
      </li>
      <li *ngIf="isFacebook" class="nav-item">
        <a class="nav-link" style="color: black;" (click)="goToLink(socialLinks.facebook.url)">
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
      </li>
      <li *ngIf="isTwitter" style="color: black;" class="nav-item">
        <a class="nav-link" (click)="goToLink(socialLinks.twitter.url)">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li *ngIf="isInstagram" class="nav-item">
        <a class="nav-link" style="color: black;" (click)="goToLink(socialLinks.instagram.url)">
          <mdb-icon fab icon="instagram"></mdb-icon>
        </a>
      </li>
      <li *ngIf="isLinkedIn" class="nav-item">
        <a class="nav-link" style="color: black;" (click)="goToLink(socialLinks.linkedin.url)">
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: black;">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: black;">
          <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <a (click)="LogOut()" style="color: black;">
              <i class="fas fa-sign-out-alt"></i>
            </a>
          </ng-container>
          <ng-template #loggedOut>
            <a (click)="auth.loginWithRedirect()" style="color: black;">
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </ng-template>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
