<div class="tree">
  <ul *ngIf="treeData">
    <li *ngFor="let node of treeData">
      <div class="diacard">
        <div class="card z-depth-5" >
        <h6 class="card-header white-text" [ngStyle]="{'background-color': getBackGroundColor(node.nodeColor)}">
          <div class="row">
            <div class="col-3">
              <img [hidden]="options.AttachFile" src="{{getProfileImg(node.imgUrl)}}" alt="Avatar" style="border-radius: 50%; width:65px;">
              <a [hidden]="!options.AttachFile" (click)="fileInput.click()" mdbTooltip="Edit Image" placement="top">
                <img src="{{getProfileImg(node.imgUrl)}}" alt="Avatar" style="border-radius: 50%; width:65px;">
                <input #fileInput type="file" (change)="handleFileInput($event.target.files, node, 'ChangeProfileImg')" style="display:none;" />
              </a>
            </div>
            <div class="col-7">
              <a (click)="ToogleChildren(node, 'toggleChildren')" mdbTooltip="{{node.description}}" placement="top">
                <div class="row" style="justify-content: center;">
              <div class="col-12">
                {{ node.position }}
              </div>
              <div class="col-12" style="font-size: small;">
                {{node.name}}<b *ngIf="node.children.length != 0"> <i class="fas fa-caret-down"></i></b>
              </div>

              </div>
              </a>
            </div>
            <div class="col-2" style="zoom: 0.7;">
              <div class="dropdown" mdbDropdown>

                <a mdbDropdownToggle type="button" mdbBtn class="dropdown-toggle waves-light"
                  mdbWavesEffect [ngStyle]="{'background-color': getBackGroundColor(node.nodeColor)}">
                </a>

                <div class="dropdown-menu dropdown-primary" style="color: black;">
                  <a [hidden]="!options.Add"
                  class="dropdown-item" (click)="Action(node, 'Add')"><i class="far fa-plus-square"></i> Add Child</a>
                  <a [hidden]="!options.Edit"
                  class="dropdown-item" (click)="Action(node, 'Edit')"><i class="far fa-edit"></i> Edit</a>
                  <a [hidden]="!options.AttachFile"
                  class="dropdown-item" (click)="fileInput.click()"><i class="fas fa-user-alt"></i> Profile Image</a>
                  <div [hidden]="!node.nodeActive || node.nodePaused || (node.children.length > 0) || !options.ToggleNodePaused"
                    class="divider dropdown-divider"></div>
                  <a [hidden]="!node.nodeActive || node.nodePaused || (node.children.length > 0) || !options.ToggleNodePaused"
                    class="dropdown-item" (click)="Action(node, 'ToggleNodePaused')">Pause Branch</a>
                  <a [hidden]="!node.nodeActive || !node.nodePaused || !options.ToggleNodePaused"
                  class="dropdown-item" (click)="Action(node, 'ToggleNodePaused')">Unpause Branch</a>
                  <a [hidden]="!node.nodeActive || node.nodePaused || (node.children.length > 0) || !options.ToggleNodeActive"
                    class="dropdown-item" (click)="Action(node, 'ToggleNodeActive')">Deactivate Branch</a>
                  <a [hidden]="node.nodeActive || node.nodePaused || !options.ToggleNodeActive"
                  class="dropdown-item" (click)="Action(node, 'ToggleNodeActive')">Activate Branch</a>
                  <div [hidden]="(node.children.length > 0) || node.nodePaused"
                    class="divider dropdown-divider"></div>
                  <a [hidden]="(node.children.length > 0) || node.nodePaused || !options.Delete"
                    class="dropdown-item" (click)="Action(node, 'Delete')">Delete</a>
                  <a [hidden]="!options.MoreOptions"
                  class="dropdown-item" (click)="Action(node, 'MoreOptions')"><i class="far fa-plus-square"></i> More Options</a>
                </div>
              </div>
            </div>
          </div>
          </h6>
      </div>
    </div>
      <br>
      <app-tree-diagram *ngIf="node.showChildren" [options]="options" [treeData]="node.children" (treeOutput)='revealForm($event)'></app-tree-diagram>
    </li>
  </ul>

